<nav class='section-nav'>
    <div class="ui top menu">
        <a class="item" ng-class="{disabled: isStandartUser(userType)}" ng-click="removeCalls()">
            <i ng-if="isStandartUser(userType)" class="lock icon"></i>
            <i ng-if="!isStandartUser(userType)" class="erase icon"></i>
            Erase Calls Logs
        </a>
        <a class="item right" ng-click="logout()">
            <i class="sign out icon"></i> Logout
        </a>
    </div>      
</nav>

<div class="ui container section">
    <div class='header-table'>
        <span class="ui tag">
            Calls    
        </span>

        <div class="ui right action left icon input">
            <i class="search icon"></i>
            <input type="text" ng-model="searchCriterion" placeholder="Search">
            <div class="ui basic floating dropdown button">
                <div class="text">Filter By</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" ng-repeat="filter in filters" ng-click="setFilterBy(filter)">
                        <i class="{{filter.circleColor}} circle icon"></i>  
                        {{filter.category}}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <table class="ui selectable celled table">
        <thead>
            <tr>
                <th>
                    <div class="ui checkbox">
                        <input type="checkbox" ng-model="selectedAllCalls" ng-click="checkAll()">
                        <label></label>
                    </div>
                </th>
                <th>Call ID</th>
                <th>From</th>
                <th>To</th>
                <th>Dial Begin</th>
                <th>Dial End</th>
                <th>Duration</th>
                <th>Status</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="call in calls | filter: searchCriterion: true | filter: filterBy.value:filterBy.forced | orderBy: '+':true">
                <td>
                    <div class="ui checkbox ">
                        <input type="checkbox" ng-model="call.selected">
                        <label></label>
                    </div>
                </td>
                <td>{{call.callId}}</td>
                <td>{{call.peerCaller}}</td>
                <td>{{call.peerDestCaller}}</td>
                <td>{{call.timeMillsDialBegin | date:'dd/MM/yyyy - HH:mm:ss'}}</td>
                <td>{{call.timeMillsDialEnd | date:'dd/MM/yyyy - HH:mm:ss'}}</td>
                <td>{{call.timeMillsDialEnd - call.timeMillsDialBegin | date:'mm:ss'}}</td>
                <td ng-class="{warning : call.statusDial=='BUSY',positive :call.statusDial=='ANSWER', negative : call.statusDial=='CANCEL' || call.statusDial=='NOANSWER'}">{{call.statusDial}}</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- MODAL ALERT -->

<div id="alertDelCallModalSuccess" class="ui basic modal">
  <div class="header">
    Message Alert
  </div>
  <div class="image content">
    <div class="image">
      <i class="checkmark green icon"></i>
    </div>
    <div class="description">
      <p>{{message}}</p>
    </div>
  </div>
  <div class="actions">
    <div class="fluid ui inverted buttons">
      <div class="ui green basic approve inverted button">
        <i class="checkmark icon"></i>
        Ok
      </div>
    </div>
  </div>
</div>

<div id="alertDelCallModalError" class="ui basic modal">
  <div class="header">
    Message Alert
  </div>
  <div class="image content">
    <div class="image">
      <i class="remove red icon"></i>
    </div>
    <div class="description">
      <p>{{message}} Would you like to try again?</p>
    </div>
  </div>
  <div class="actions">
    <div class="fluid ui inverted buttons">
      <div class="ui green basic approve inverted button">
        <i class="checkmark icon"></i>
        Ok
      </div>
    </div>
  </div>
</div>
<!-- <div id="alertUserModalSuccess" class="ui basic modal">
    <i class="close icon"></i>
    <div class="header">
        Message Alert
    </div>
    <div class="image content">
        <div class="image">
            <i class="checkmark green icon"></i>
        </div>
        <div class="description">
            <h3>{{message}}</h3>
        </div>
    </div>
</div>

<div id="alertUserModalError" class="ui basic modal">
    <i class="close icon"></i>
    <div class="header">
        Message Alert
    </div>
    <div class="image content">
        <div class="image">
            <i class="remove red icon"></i>
        </div>
        <div class="description">
            <h3>{{message}}</h3>
        </div>
    </div>
</div> -->